<div class="btnArea">
    <button class="btn" [class.activeBtn]="display==0" (click)="onListClick()">
        List
    </button>
    <button class="btn" [class.activeBtn]="display==1" (click)="onGridClick()">
        Grid
    </button>
    <button class="btn" [class.activeBtn]="display==2" (click)="onGroupClick()">
        Group
    </button>
</div>

<div [ngSwitch]="display">
    <span *ngSwitchCase="0">
        <app-list-item [menuList]="menuList"></app-list-item>
    </span>
    <span *ngSwitchCase="1">
        <app-grid-item [menuList]="menuList"></app-grid-item>
    </span>
    <span *ngSwitchCase="2">
        <app-group [menuList]="menuList"></app-group>
    </span>
</div>