.btnArea {
    display: flex;
    margin: 10px;
  }
  
  .btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 10px;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    color: gray;
    border-color: gray;
  }
  
  .activeBtn {
    background-color: black;
    color: white;
  }
  