$line-height: 120px;

.list {
  display: flex;
}

.menuSet {
  display: flex;
  height: $line-height;
  margin: 10px;
}

img {
  height: $line-height;
  width: $line-height;
  object-fit: cover;
  background-color: lightblue;
  border-radius: 15px;
}

.explanation {
  margin: auto 0 auto 10px;
  width: calc(100% - 140px);
}

.title {
  font-weight: bold;
  font-size: 14px;
}

.detail {
  font-size: 12px;
  color: gray;
}
